@use "sass:math";
.card {
  display: block;
  padding: $base-padding;
  box-shadow: $base-box-shadow;
  border: $base-border-thickness solid #ddd;
  border-radius: math.div($base-border-radius, 4);

  .card-titel {
    font-size: $base-font-size;
    padding: $base-padding;
    font-weight: bold;
  }
  .card-body {
    font-size: $font-size-lg;
    a {
      text-decoration: underline;
    }
  }
}
